.app_container {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color:#e8eaed;
  color: #141c0d;
}
